<table class="table">
  <thead>
    <tr>
      <th width="12%">image</th>
      <th width="30%">ニックネーム</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% customers.each do |customer| %>
      <tr>
        <td><%= image_tag customer.get_profile_image(50,50) %></td>
        <td><%= customer.name %></td>
        <td><%= render "public/relationships/followbtn", customer: customer %></td>
        <td><%= link_to "詳細", customer_path(customer) %></td>
        <td>投稿件数：<%= customer.sakes.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>