<div class="m-5">
  <h2 class="col-sm-5">
    <% if @customer == current_customer %>
      マイページ
    <% else %>
      会員詳細ページ
    <% end %>
  </h2>
</div>
<div class="row">
  <p class="offset-1 col-sm-2"><strong>登録情報</strong></p>
  <p class="col-sm-3">
    <% if @customer == current_customer %>
      <% unless current_customer.name == "guest" %>
        <%= link_to "編集する", edit_customer_path, class: 'btn btn-success' %>
      <% else %>
        <p>guestのため変更できません</p>
      <% end %>
    <% else %>
      <%= render "public/relationships/followbtn", customer: @customer %>
    <% end %>
  </p>
</div>
<div class="row">
  <div class="offset-md-1 col-md-11">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="bg-light" width="30%">プロフィール画像</td>
          <td width="70%"><%= image_tag @customer.get_profile_image(100, 100) %></td>
        </tr>
        <tr>
          <td class="bg-light">ニックネーム</td>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <td class="bg-light">自己紹介</td>
          <td><%= @customer.introduction %></td>
        </tr>
        <% unless @customer != current_customer %>
          <tr>
            <td class="bg-light">メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% if @customer == current_customer %>
  <div class="row">
    <p class="offset-md-1 col-sm-3 text-left"><strong>フォロー</stromg></p>
    <p><%= link_to "一覧を見る",customer_followings_path(@customer), class: 'btn btn-primary' %></p>
  </div>
  <div class="row">
    <p class="offset-md-1 col-sm-3 text-left"><strong>フォロワー</stromg></p>
    <p><%= link_to "一覧を見る", customer_followers_path(@customer), class: 'btn btn-primary' %></p>
  </div>
<% else %>
  <div class="row">
    <p class="offset-md-1 col-lg-5 text-left">
      <%= link_to customer_followings_path(@customer), class: 'btn btn-primary' do %>
        <%= @customer.name %>さんのフォロー 一覧
      <% end %>
    </p>
  </div>
  <div class="row">
    <p class="offset-md-1 col-lg-5 text-left">
      <%= link_to customer_followers_path(@customer), class: 'btn btn-primary' do %>
        <%= @customer.name %>さんのフォロワー 一覧
      <% end %>
    </p>
  </div>
<% end %>
<!--相互フォローしている場合にチャットを許可する時は下記のコメントアウトを解除-->
<%# if current_customer != @customer && current_customer.following?(@customer) && @customer.following?(current_customer) %>
<% if @customer != current_customer %>
  <div class="row">
    <p class="offset-md-1 col-sm-3 text-left"><strong>チャット機能</stromg></p>
    <p><%= link_to "チャットを始める", chat_path(@customer.id), class: 'btn btn-success' %></p>
  </div>
<% end %>
<%# end %>
<div class="row mb-5 mx-auto justify-content-center">
  <div class="col-md-10">
    <%= render "public/bookmarks/bookmark", sake: @sake, customer: @customer %>
  </div>
</div>

<div class="row mb-5 mx-auto justify-content-center">
  <div class="col-md-10">
    <%= render "public/customers/sake", customer: @customer %>
  </div>
</div>