<%= render 'public/searches/searchbox' %>
<% if @range == "Customer" %>
  <h2>検索結果 "<%= @word %>" </h2>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th></th>
        <th>会員名</th>
        <th>説明</th>
      </tr>
    </thead>
    <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= image_tag customer.get_profile_image(50, 50) %></td>
        <td><%= link_to customer.name, customer_path(customer.id) %></td>
        <td><%= customer.introduction %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% elsif @range == "Sake" %>
  <h2>検索結果 "<%= @word %>" </h2>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th></th>
        <th>お酒の名前</th>
        <th>説明</th>
      </tr>
    </thead>
    <tbody>
      <% @sakes.each do |sake| %>
        <tr>
          <td><%= image_tag sake.get_sake_image(50, 50) %></td>
          <td><%= link_to sake.name, sake_path(sake.id) %></td>
          <td><%= sake.introduction %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>