<div class="row mt-5">
  <div class="col-1"></div>
  <div class="col-2">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="text-center">ジャンル検索</th>
        </tr>
      </thead>
      <tbody>
        <%= render "public/sakes/genres_search", genres: @genres %>
      </tbody>
    </table>
  </div>

  <div class="col-9">
    <%= image_tag "top_image.jpg", style: "width: 800px; height: 400px; position: relative;" %>
    <div class="top_content">
      <p style="position:absolute; top:130px; left:100px; background-color:rgba(0,0,0,0.7); color:#FFF; font-size:23px;">
        ようこそ、<strong style="font-family: serif;">Al-comi</strong>へ！<br>
        本サイトは、お酒に対するコミュニティサイトになります。<br>
        会員でない方も投稿の内容はご確認いただけます。<br>
        会員登録をすると、投稿やフォロー機能をご使用いただけます。<br>
        ※実際の試飲は20歳を越えてから楽しみましょう。
      </p>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="offset-md-2 col-3">
    <h2>新着投稿</h2>
  </div>
</div>

<div class="row mt-3">
  <div class="col-3"></div>
  <% @sakes.each do |sake| %>
    <div class="col-2">
      <div>
        <%= link_to sake_path(sake) do %>
          <%= image_tag sake.get_sake_image, size: "190x150" %>
        <% end %>
      </div>
      <div>
        <%= sake.customer.name %>
      </div>
      <div>
        <%= sake.name %>
      </div>
    </div>
  <% end %>
</div>

  <div class="row my-3">
    <div class="col-10"></div>
    <div class="col-2">
      <%= link_to "全ての投稿を閲覧する", sakes_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
