<div class="row mx-5 mt-4 mx-auto justify-content-center">
  <div class="col-md-6 text-left">
    <h4><strong>会員情報の変更</strong></h4>
  </div>
</div>
<%= form_with model: [:admin, @customer], local: true do |f| %>
  <div class="row mx-5 mt-4 mx-auto justify-content-center">
    <div class="col-md-2">
      <%= f.label :プロフィール画像 %>
    </div>
    <div class="col-md-3">
      <%= f.file_field :profile_image, accept: "image/*", class: "form-control-file" %>
    </div>
  </div>

  <div class="row mx-5 mt-4 mx-auto justify-content-center">
    <div class="col-md-2">
      <%= f.label :ニックネーム %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row mx-5 mt-4 mx-auto justify-content-center">
    <div class="col-md-2">
      <%= f.label :自己紹介文 %>
    </div>
    <div class="col-md-3">
      <%= f.text_area :introduction, class: 'form-control', rows: "5" %>
    </div>
  </div>

  <div class="row mx-5 mt-4 mx-auto justify-content-center">
    <div class="col-md-2">
      <%= f.label :メールアドレス %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="row mx-5 mt-4 mx-auto justify-content-center">
    <div class="col-md-2">
      <%= f.radio_button :is_deleted, false %>
      <%= f.label :is_deleted, "有効" , value: false %>
      <%= f.radio_button :is_deleted, true %>
      <%= f.label :is_deleted, "退会" , value: true %>
    </div>
  </div>

  <div class="row mx-5 mt-4 mx-auto justify-content-center">
    <div class="actions col-3">
      <%= f.submit class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>