<div class="m-5">
  <h2 class="col-sm-5">会員情報</h2>
</div>
<div class="row">
  <p class="offset-1 col-sm-2"><strong>登録情報</strong></p>
  <p class="col-sm-3"><%= link_to "編集する", edit_admin_customer_path, class: 'btn btn-success' %></p>
</div>
<div class="row mx-auto justify-content-center">
  <div class="offset-md-1 col-md-11">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="bg-light" width="30%">プロフィール画像</td>
          <td width="70%"><%= image_tag @customer.get_profile_image(100, 100) %></td>
        </tr>
        <tr>
          <td class="bg-light">ニックネーム</td>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <td class="bg-light">自己紹介</td>
          <td><%= @customer.introduction %></td>
        </tr>
        <tr>
          <td class="bg-light">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>