<div class="row mt-5">
  <div class="col-sm-5 offset-sm-2">
    <h3 id="room" data-room="<%= @room.id %>" data-customer="<%= current_customer %>"><%= @customer.name %>さんとのチャット</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-5 offset-sm-4">
    <div class="message message_area">
      <% @chats.each do |chat| %>
        <% if chat.customer_id == current_customer.id %>
          <p class="message_my"><%= chat.message %> ( <%= chat.customer.name %> )</p>
        <% else %>
          <p class="message_you">( <%= chat.customer.name %> ) <%= chat.message %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-5 offset-sm-4">
    <div class="errors">
      <%= render "layouts/errors", obj: @chat %>
    </div>

    <%= form_with model: @chat, data: {remote: true} do |f| %>
      <%= f.text_field :message %>
      <%= f.hidden_field :room_id %>
    <% end %>
  </div>
</div>