<div class="m-5">
  <div class="row">
    <div class="col-md-7 offset-md-1">
      <h2>会員一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th>introduction</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% sakes.each do |sake| %>
            <tr>
              <td><%= image_tag sake.customer.get_profile_image(50,50) %></td>
              <td><%= sake.name %></td>
              <td><%= sake.introduction %></td>
              <td><%= link_to "削除", sake_path(sake.id), method: :delete %></td>
              <td><%= form_with</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>