<div class="m-5">
  <div class="row">
    <div class="col-md-11 offset-md-1">
      <h2>投稿一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th>introduction</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @sakes.each do |sake| %>
            <tr>
              <td><%= image_tag sake.get_sake_image(50,50) %></td>
              <td><p><%= sake.name %><br><%= sake.genre.name %></p></td>
              <td><%= sake.introduction %></td>
              <td>♥<%= sake.favorites.count %>/コメント件数：<%= sake.sake_comments.count %></td>
              <td>
                  <%= link_to "内容", admin_sake_path(sake.id), class: 'btn btn-sm btn-success' %>
                  <%= link_to "削除", admin_sake_path(sake.id), method: :delete, class: 'btn btn-sm btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-11 offset-md-1 d-flex mx-auto">
      <%= paginate @sakes %>
    </div>
  </div>
</div>