<div class="m-5">
  <div class="row mx-auto justify-content-center">
    <div class="col-md-11 offset-md-1">
      <h2>投稿一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th width="8%">image</th>
            <th width="15%">name/genre</th>
            <th width="30%">introduction</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @sakes.order(created_at: :desc).each do |sake| %>
            <tr>
              <td><%= image_tag sake.get_sake_image(50, 50) %><p class="font-6">投稿日：<%= sake.created_at.strftime('%Y/%m/%d') %></p></td>
              <td><p><%= sake.name %><br><%= sake.genre.name %></p></td>
              <td><%= sake.introduction %></td>
              <td><%= render "public/sakes/static_rate", sake: sake %><br><%= render "public/sakes/url", sake: sake %></td>
              <td>♥<%= sake.favorites.count %><br><i class="fas fa-light fa-comment"></i><%= sake.sake_comments.count %></td>
              <td>
                <%= link_to "内容", admin_sake_path(sake.id), class: 'btn btn-sm btn-success' %>
                <%= link_to "削除", admin_sake_path(sake.id), method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'btn btn-sm btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mx-auto justify-content-center">
    <div class="col-11 offset-md-1 d-flex mx-auto">
      <%= paginate @sakes, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>