<div class="row m-5 mx-auto justify-content-center">
  <div class="col-2">
    <p>
      投稿者:
      <%= link_to admin_customer_path(@sake.customer) do %>
        <%= @sake.customer.name %><br>
        <%= image_tag @sake.customer.get_profile_image(100, 100) %>
      <% end %>
    </p>
  </div>
  <div class="col-6">
    <p>投稿日：<%= @sake.created_at.strftime('%Y/%m/%d') %></p>
    <p>お酒の名前：<%= @sake.name %><br></p>
    <p>ジャンル：<%= @genre.name %><br></p>
    <p>紹介文：<br><%= @sake.introduction %><br></p>
    <p><%= render "public/sakes/url", sake: @sake %></p>
    <p>評価：<%= render "public/sakes/static_rate", sake: @sake %><br></p>
  </div>
</div>

<div class="row mx-sauto justify-content-center">
  <div class="col-10">
    <p id="comments_count">コメント件数 : <%= @sake.sake_comments.count %></p>
  </div>
</div>

<div class="row mb-5 mx-auto justify-content-center">
  <div class="offset-md-1 col-md-10">
    <p>コメント蘭</p>
    <%= render "admin/sake_comments/comment", sake: @sake %>
  </div>
</div>