<p>お気に入り一覧</p>
<div>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th style="width: 30%"></th>
        <th style="width: 40%"></th>
        <th style="width: 20%"></th>
      </tr>
    </thead>
    <% customer.bookmarks.first(3).each do |bookmark_sake| %>
    <tr id="sake_<%= sake.id %>">
      <td>
        <%= link_to(bookmark_sake.customer) do %>
          <%= image_tag bookmark_sake.customer.get_profile_image(50,50) %><br>
          <%= bookmark_sake.customer.name %>|<%= bookmark_sake.created_at.strftime('%Y/%m/%d') %>
        <% end %>
      </td>
      <td></td>
      <td>
        <%# if bookmark_sake.customer == current_customer %>
          <%#= link_to "削除", sake_sake_comment_path(sake_comment.sake, sake_comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger", remote: true %>
        <%# end %>
      </td>
    </tr>
    <% end %>
  </table>
  <% if customer.bookmarks.offset(3).any? %>
    <details>
      <summary>全てのコメントを表示</summary>
      <% customer.bookmarks.offset(3).each do |bookmark_sake| %>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th style="width: 30%"></th>
              <th style="width: 40%"></th>
              <th style="width: 20%"></th>
            </tr>
          </thead>
          <tr id="sake_<%= sake.id %>">
            <td>
              <%= link_to(bookmark_sake.customer) do %>
                <%= image_tag bookmark_sake.sake.get_sake_image(50,50) %><br>
                <%= bookmark_sake.sake.name %>|<%= bookmark_sake.created_at.strftime('%Y/%m/%d') %>
              <% end %>
            </td>
            <td></td>
            <td>
              <%# if bookmark_sake.customer == current_customer %>
                <%#= link_to "削除", sake_sake_comment_path(sake_comment.sake, sake_comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger", remote: true %>
              <%# end %>
            </td>
          </tr>
        <% end %>
      </table>
    </delete>
  <% end %>
</div>