<details>
  <summary class="text-danger">お気に入り一覧</summary>
  <% if customer.bookmarks == nil %>
    <p class="offset-1">お気に入りが登録されていません。</p>
  <% else %>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th width="30%">お酒</th>
            <th width="40%">説明</th>
            <th width="20%"></th>
          </tr>
        </thead>
        <% customer.bookmarks.order(created_at: :desc).each do |bookmark| %>
          <tr>
            <td>
              <%= link_to(bookmark.sake) do %>
                <%= image_tag bookmark.sake.get_sake_image(50, 50) %><br>
                <%= bookmark.sake.name %>
              <% end %>
            </td>
            <td><%= bookmark.sake.introduction %></td>
            <td><%= render "public/bookmarks/bookmark_btn", sake: bookmark.sake %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</delete>