<p>コメント蘭</p>
<div class="comments_area">
<table class="table table-borderless">
  <thead>
    <tr>
      <th style="width: 30%"></th>
      <th style="width: 40%"></th>
      <th style="width: 20%"></th>
    </tr>
  </thead>
  <% sake.sake_comments.each do |sake_comment| %>
  <tr>
    <td>
    <%= link_to(sake_comment.customer) do %>
      <%#= image_tag sake_comment.user.get_profile_image, size:"50x50" %><br>
      <%= sake_comment.customer.name %><%= sake_comment.created_at.strftime('%Y/%m/%d') %>
    <% end %>
    </td>
    <td><%= sake_comment.comment %></td>
    <td>
    <% if sake_comment.customer == current_customer %>
      <%= link_to "削除", sake_sake_comment_path(sake_comment.sake, sake_comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger", remote: true %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>
</div>