<div class="row">
  <div class="col-md-4 offset-md-3">
    <h4 class = 'mt-4 ml-2 offset-md-2'><strong>ログイン</strong></h4>
  </div>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-7 offset-md-2 text-danger">
      <%= render "public/shared/error_messages", resource: resource %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-3 offset-md-3">
      <%= f.label :メールアドレス %><br/>
    </div>
    <div class="col-4">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-3 offset-md-3">
      <%= f.label :パスワード %>
    </div>
    <div class="col-4">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="row mt-4">
      <div class="col-3 offset-md-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    </div>
  <% end %>

  <div class="row mt-4">
    <div class="actions py-4 col-3 offset-md-3">
      <%= f.submit "ログイン", class: "btn btn-success btn-block" %>
    </div>
  </div>
<% end %>

<div class="row mt-5">
  <div class="col-4 offset-md-3">
    <p style="font-size:21px;">新規登録する方は</p>
  </div>
</div>
<div class="row">
  <div class="col-6 offset-md-3">
    <%= render "public/shared/links" %>から新規登録してください。
  </div>
</div>
<div class="row">
  <div class="col-6 offset-md-3">
    <%= link_to 'ゲストログイン（閲覧用）', public_guest_login_path, class: "btn btn-outline-light bg-dark text-white mr-3 my-3", method: :post %></li>
  </div>
</div>