<div class = 'row'>
  <h4 class = 'bg-light mt-4 ml-2 offset-md-2'><strong>ログイン</strong></h4>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="row mt-4">
    <div class="col-3 text-center">
      <%= f.label :メールアドレス %><br/>
    </div>
    <div class="offset-md-1 col-4">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-3 text-center">
      <%= f.label :パスワード %>
    </div>
    <div class="offset-md-1 col-4">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="row mt-4">
    <div class="actions py-4 col-3 offset-md-1">
      <%= f.submit "ログイン", class: "btn btn-success btn-block" %>
    </div>
  </div>
<% end %>

<div class="row mt-5">
  <div class="col-4">
    <p style="font-size:21px; text-align:center;">新規登録する方は</p>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <%= render "public/shared/links" %>から新規登録してください。
  </div>
</div>