<div class="card-list-containar py-2">
  <% sakes.each do |sake| %>
    <div class="card w-100 mx-aut mt-4 shadow-lg">
      <div class="card-body flex-fill p-2">
        <div class="row">
          <div class="col-5">
            <p>
              <strong><%= link_to customer_path(sake.customer) do %><%= sake.customer.name %><% end %></strong>さん
            </p>
            <%= link_to sake_path(sake) do %>
              <%= image_tag sake.get_sake_image(190,150) %>
            <% end %>
          </div>

          <div class="col-5 p-2">
            <p><%= sake.name %></p>
            <p><%= sake.introduction %></p>
            <p><%= sake.price %>円程度</p>
            <!--<p>-->
            <!--  <%#= sake.tag %>|-->
            <!--</p>-->
            <p><%= render "public/sakes/static_rate", sake: sake %></p>
            <%= link_to "#{sake.sake_comments.count} コメント", sake_path(sake.id) %>
            <%= render "public/favorites/favorite", sake: sake %>
          </div>
          <div class="col-2">
            <%= render "public/bookmarks/bookmark_btn", sake: sake %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row mt-3 mb-5">
  <div class="col-5 offset-md-1 d-flex mx-auto">
    <%= paginate sakes, theme: 'twitter-bootstrap-4' %>
  </div>
</div>