<div>
<% sakes.each do |sake| %>
  <p><strong><%= sake.customer.name %></strong>さん</p>
  <%= link_to sake_path(sake.id) do %>
    <% if sake.image.attached? %>
      <%= image_tag sake.image, size: "80x150" %>
    <% else %>
      <%= image_tag 'no_image', size: "150x80" %>
    <% end %>
  <% end %>
  <%= sake.name %><br>
  <%= sake.introduction %><br>
  <p><%= sake.price %>円程度</p>
  <%= sake.tag %><br>
  <%= sake.evaluation %>
  <%= link_to "#{sake.sake_comments.count} コメント", sake_path(sake.id) %>
<% end %>
</div>


