<%= form_with model:sake, url: sakes_path, method: :post, local: true do |f| %>
  <%= render 'layouts/errors', obj: sake %>

  <div class="form-group image_field">
    <p>画像</p>
    <%= f.file_field :sake_image, accept: "image/*" %>
  </div>
  <div class="form-group">
    <%= f.text_field :name, placeholder: "お酒の名前", class: 'form-control sake_name' %>
  </div>
  <div class="form-group">
    <p>
    ジャンル名：<%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択してください" %>
    </p>
  </div>
  <div class="form-group">
    <p>金額：<%= f.text_field :price, placeholder: "3000", class: 'sake_price', size: 10 %>円程度</p>
  </div>
  <div class="form-group">
    <%= f.text_area :introduction, placeholder: "お酒の紹介文", class: 'form-control sake_introduction', rows: "5" %>
  </div>
  <div class="form-group">
    <p>Amazon：<%= f.text_area :url, placeholder: "html://xxx", class: 'form-control sake_url' %></p>
  </div>

  <% if sake.id === nil %>
    <div class="form-group" id="star">
      <%= f.label :評価 %>
      <%= f.hidden_field :rate, id: :review_star, class:'form-control' %>
    </div>

    <div id="post_raty"></div>
    <script>
      $(document).on('turbolinks:load', function() {
      let raty_elem = document.querySelector('#post_raty');
      raty_elem.innerHTML = ""
      let option = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'sake[rate]',
          };
        raty(raty_elem,option);
      });
    </script>
  <% else %>
    <%= render "static_rate", sake: sake %>
  <% end %>

  <div class="form-group mt-3">
    <%= f.submit '投稿', class: 'btn btn-success' %>
  </div>
<% end %>