<div class="row px-sm-0 mx-auto mx-auto justify-content-center">
  <div class="mt-4 ml-2 col-md-8">
    <h4><strong>投稿情報の変更</strong></h4>
  </div>
</div>
<div class="row mb-5 mx-auto justify-content-center">
  <div class="col-md-10 mt-3" >
    <%= render 'layouts/errors', obj: @sake %>
  </div>
</div>
<%= form_with model: @sake, local: true do |f| %>
  <div class="row mt-4 mx-auto justify-content-center">
    <div class="col-3 text-center">
       <%= f.label :お酒の画像 %>
    </div>
    <div class="col-4">
      <%= f.file_field :sake_image, accept: "image/*", class: "form-control-file" %>
    </div>
  </div>

  <div class="row mt-4 mx-auto justify-content-center">
    <div class="col-3 text-center">
      <%= f.label :お酒の名前 %>
    </div>
    <div class="col-4">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row mt-4 mx-auto justify-content-center">
    <div class="col-3 text-center">
      <%= f.label :ジャンル名 %>
    </div>
    <div class="col-4">
      <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択してください" %>
    </div>
  </div>

  <div class="row mt-4 mx-auto justify-content-center">
    <div class="col-3 text-center">
      <%= f.label :お酒の紹介 %>
    </div>
    <div class="col-4">
      <%= f.text_area :introduction, class: 'form-control', rows: "5" %>
    </div>
  </div>

  <div class="row mt-4 mx-auto justify-content-center">
    <div class="col-3 text-center">
      <%= f.label :金額 %>
    </div>
    <div class="col-4">
      <p><%= f.text_field :price, placeholder: "3000", class: 'sake_price', size: 10 %>円程度</p>
    </div>
  </div>

  <div class="row mt-4 mx-auto justify-content-center">
    <div class="actions py-4 col-3 offset-md-1">
      <%= f.submit "編集内容を保存する", class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>