<div class="row d-flex mt-5 ">

    <div class="col-9">
      <div class="d-flex">
        <p style="font-size:35px"><%= @search %>一覧</p>
        <p style="font-size:25px; line-height: 2;">(全<%#= @sakes_many.count %>件)</p>
      </div>

      <div class="d-flex flex-wrap items_width">
        <% @sakes.each do |sake| %>
          <p><strong><%#= sake.customer.name %></strong>さん</p>
          <%#= link_to sake_path(sake.id) do %>
            <%# if sake.image.attached? %>
              <%#= image_tag sake.image, size: "80x150" %>
            <%# else %>
              <%#= image_tag 'no_image', size: "150x80" %>
            <%# end %>
          <%# end %>
          <p><%= sake.name %></p><br>
          <p><%= sake.introduction %></p><br>
          <p><%= sake.price %>円程度</p>
          <p><%= sake.tag %></p><br>
          <p><%= sake.evaluation %></p>
          <%= link_to "#{sake.sake_comments.count} コメント", sake_path(sake.id) %>
          <%= render "public/favorites/favorite", sake: sake %>
        <% end %>
      </div>

      <div class="row justify-content-center my-4">
        <%#= paginate @products, theme: 'bootstrap-5' %>
      </div>
    </div>
</div>