<div class="row m-5 mx-auto justify-content-center">
  <div class="col-2 offset-sm-1">
    <p>投稿者<br>
      <%= link_to customer_path(@sake.customer) do %>
        <%= @sake.customer.name %>
        <%= image_tag @sake.get_sake_image(100,100), class: "d-block mx-auto" %>
      <% end %>
    </p>
  </div>
  <div class="col-6">
    <p>お酒の名前：<%= @sake.name %><br></p>
    <p>ジャンル：<%= @genre.name %><br></p>
    <p>紹介文：<%= @sake.introduction %><br></p>
    <p>評価：<%= render "public/sakes/static_rate", sake: @sake %><br></p>
  </div>
  <div class="col-2 mt-5">
    <% if customer_signed_in? && @sake.customer.id == current_customer.id %>
      <%= link_to "編集する", edit_sake_path(@sake.id), class: "btn btn-success" %>
    <% end %>
  </div>
  <div class="col-1">
    <%= render "public/bookmarks/bookmark_btn", sake: @sake %>
  </div>
</div>

<div class="row mx-auto justify-content-center">
  <div class="col-10">
    <p id="comments_count">コメント件数 : <%= @sake.sake_comments.count %></p>
  </div>
</div>

<% if customer_signed_in? %>
  <div class="row mx-auto justify-content-center">
    <div class="col-md-8">
      <%= render "public/sake_comments/comment_new", sake: @sake, sake_comment: @sake_comment %>
    </div>
  </div>
<% end %>

<div class="row mb-5 mx-auto justify-content-center">
  <div class="col-md-8">
    <%= render "public/sake_comments/comment", sake: @sake %>
  </div>
</div>