<div class="conteiner">
  <div class="row">
    <div class="col-6">
      <%= @sake.customer.name %>
      <%# if @sake.image.attached? %>
        <%#= image_tag @sake.image, size: "300x300" %>
      <%# else %>
        <%#= image_tag 'no_image', size "300x300" %>
      <%# end %>
      <%= @sake.name %>
      <%= @genre.name %>
      <%= @sake.introduction %>
      <%#=  %>
      <p>コメント件数 : <%= @sake.sake_comments.count %></p>
      <% @sake.sake_comments.each do |sake_comment| %>
        <p><%= sake_comment.customer.name %></p>
        <%= sake_comment.created_at.strftime('%Y/%m/%d') %><%= sake_comment.comment %>
      <% end %>
    </div>
    <div class="form-group">
      <%= form_with model: [@sake, @sake_comment], local: false do |f| %>
        <%= f.text_area :comment, row: '5', placeholder: "コメント" %>
        <%= f.submit "送信する" %>
      <% end %>

    </div>
  </div>
</div>
