<div class="conteiner">
  <div class="row my-3">
    <div class="offset-md-1 col-2">
      <%= link_to customer_path(@sake.customer) do %>
        <%= @sake.customer.name %><br>
        <%= image_tag @sake.get_sake_image, size: "150x200" %>
      <% end %>
    </div>
    <div class="col-4">
      <p class="pt-1">お酒の名前：<%= @sake.name %><br></p>
      <p class="pt-1">　ジャンル：<%= @genre.name %><br></p>
      <p class="pt-1">    紹介文：<br><%= @sake.introduction %><br></p>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-1 col-2">
      <p id="comments_count">コメント件数 : <%= @sake.sake_comments.count %></p>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-1 col-4">
      <%= render "public/sake_comments/comment_new", sake: @sake, sake_comment: @sake_comment %>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-1 col-8">
      <%= render "public/sake_comments/comment", sake: @sake %>
    </div>
  </div>
</div>
