<div class="conteiner">
  <div class="row">
    <%= @sake.customer.name %>
    <% if @sake.image.attached? %>
      <%= image_tag @sake.image, size: "300x300" %>
    <% else %>
      <%= image_tag 'no_image', size "300x300" %>
    <% end %>
    <%= @sake.name %>
    <%= @sake.introduction %>
    <%= 
  </div>
</div>
