<header class="image_tag">
  <% if admin_signed_in? %>
    <nav class="navbar navbar-expand-md navbar-light bg-warning">
  <% else %>
    <nav class="navbar navbar-expand-md navbar-light bg-dark">
  <% end %>

    <div class="container-fluid">
      <%= link_to root_path, class:'btn btn-outline-light bg-dark text-white mr-3 logotitle font-16' do %>Al-comi<% end %>
      <% if customer_signed_in? %>
        <%= link_to '新規投稿', new_sake_path, class:'btn btn-outline-light bg-dark text-white mr-3 my-3 w-100px new-form' %>
      <% end %>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-white"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <!--ログインしたとき-->
        <% if customer_signed_in? %>
          <p class="text-left text-light ml-5 customer-name mt-3">ようこそ、<%= current_customer.name %>さん！</p>
        <% end %>
        <% if admin_signed_in? %>
          <h3 class="text-left text-dark ml-5 customer-name">管理者画面</h3>
        <% end %>

        <ul class="navbar-nav ml-auto">
          <!--customerでログインしている時-->
          <% if customer_signed_in? %>
            <li><%= link_to '新規投稿', new_sake_path, class:'btn btn-outline-light bg-dark text-white mr-3 my-3 w-100px new-form-hang' %></li>
            <li><%= link_to 'マイページ', customer_path(current_customer), class:'btn btn-outline-light bg-dark text-white mr-3 my-3 w-100px' %></li>
            <li><%= link_to 'お酒一覧', sakes_path, class:'btn btn-outline-light bg-dark text-white mr-3 my-3' %></li>
            <li><%= link_to '会員一覧', customers_path, class:'btn btn-outline-light bg-dark text-white mr-3 my-3' %></li>
            <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class:'btn btn-outline-light bg-dark text-warning mr-3 my-3' %></li>
          <!--adminでログインしている時-->
          <% elsif admin_signed_in? %>
            <li><%= link_to 'アバウト', admin_homes_about_path, class:'btn btn-outline-light bg-dark text-white mr-3 my-3' %></li>
            <li><%= link_to '会員一覧', admin_customers_path, class:'btn btn-outline-light bg-dark text-white mr-3 my-3'  %></li>
            <li><%= link_to '投稿一覧', admin_sakes_path, class:'btn btn-outline-light bg-dark text-white mr-3 my-3'  %></li>
            <li><%= link_to 'ジャンル一覧', admin_genres_path, class:'btn btn-outline-light bg-dark text-white mr-3 my-3'  %></li>
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:'btn btn-outline-light bg-dark text-warning my-3' %></li>
          <!--ログインしていない状態-->
          <% else %>
            <li><%= link_to 'お酒一覧', sakes_path, class:'btn btn-outline-light bg-dark text-white mr-3 my-3' %></li>
            <li><%= link_to 'アバウト', about_path, class:'btn btn-outline-light bg-dark text-whitee mr-3 my-3' %></li>
            <li><%= link_to 'ログイン', new_customer_session_path,  class:'btn btn-outline-light bg-dark text-warning mr-3 my-3' %></li>
            <li><%= link_to '新規登録', new_customer_registration_path, class:'btn btn-outline-dark bg-white mr-3 my-3' %></li>
            <li><%= link_to 'ゲストログイン（閲覧用）', public_guest_login_path, class: "btn btn-outline-light bg-dark text-white mr-3 my-3", method: :post %></li>
            <li><%= link_to '管理者ログイン', admin_session_path,  class:'btn btn-outline-light bg-dark text-warning mr-3 my-3' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>